body {
    background: url('https://source.unsplash.com/1280x720/?nature,landscape') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.post {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    background: rgba(255, 255, 255, .98);
}

.user-name {
    padding: 0px;
    margin: 0px;
}

.date {
    margin: 0px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

.image-container {
    text-align: center;
}

.image {
    max-width: 100%;
    max-height: 50%;
}

.upload {
    text-align: center;
}

.post-action {
    display: flex;
    margin-top: 10px;
}

.like, .comment {
    width: 50%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.like:hover, .comment:hover {
    background: whitesmoke;
    cursor: pointer;
}

.new-comment {
    display: flex;
    margin-left: 10px;
    width: 100%;
}

.new-comment input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 10px;
    background: #f2f3f5;
}

.new-comment button {
    background: none;
    border: none;
    color: #3897f0;
    font-weight: bold;
    cursor: pointer;
}

.new-comment button:hover {
    background: gainsboro;
    border: none;
    color: #3897f0;
    font-weight: bold;
}

.nav {
    background: rgba(255, 255, 255, 0.95);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.upload {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    background: rgba(255, 255, 255, .98);
}

.message {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message input {
    width: 50%;
    height: 50px;
    vertical-align: text-top;
    margin-left: 20px;
    border: none;
    padding: 10px;
}

.message input:focus {
    outline: none;
}

.upload input[type=submit] {
    background: #4267b2;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 100%;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.post-header, .comment-bubble {
    display: flex;
    align-items: center;
}

.comment-bubble {
    margin-top: 10px;
}

.post-header-text, .comment-bubble-text {
    margin-left: 10px;
}

.comment-bubble-text {
    background: #f2f3f6;
    padding: 10px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #4267b2;
}

.user-name {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upload-image {
    margin-left: 20px;
    background: #f2f3f6;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.new-comment input {
    outline: none;
}

i {
    margin-right: 5px;
}

